@import "tool.sqrt";

// Type

$font-family: sans-serif;

$font-weight: (
    'normal': 400,
    'bold': 600
);

$em-base: (
    'default': 14px
);

// Colors

$color-white: (
    'white': #fff
);

// Breakpoints

$breakpoint: (
    'small mobile': '(min-width: 320px)',
    'mobile': '(min-width: 480px)',
    'large mobile': '(min-width: 768px)',
    'small desktop': '(min-width: 992px)',
    'desktop': '(min-width: 1200px)',
    'large desktop': '(min-width: 1600px)'
);

// Misc

$golden-ratio: (1 + sqrt(5)) / 2;
