@import 'includes/env';

:root {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: map-get($color-palette, 'text');

    &,
    * {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    overflow-y: scroll;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    padding: 0 map-get($spacing-unit, 'base');
}

.button {
    display: inline-flex;
    padding: map-get($spacing-unit, 'golden');
    font-size: map-get($font-size, 'base');
    line-height: map-get($spacing-unit, 'base');
    background-color: map-get($color-palette, 'theme');
    color: map-get($color-palette, 'theme-contrast');
    border-radius: map-get($border-radius, 'button');
    border: 0;
    box-shadow: map-get($box-shadow, 'button');
    cursor: pointer;
    transition: background-color map-get($transition-time, 'short-distance') ease;

    &:hover,
    &:focus {
        background-color: map-get($color-palette, 'theme-dark');
    }

    &:disabled {
        cursor: default;
    }
}

.button__icon {
    float: left;
    width: map-get($spacing-unit, 'base');
    height: map-get($spacing-unit, 'base');
    fill: map-get($color-palette, 'theme-contrast');
    margin-right: map-get($spacing-unit, 'crack');
}

.button--flush {
    background-color: transparent;
    color: map-get($color-palette, 'text');
    box-shadow: none;

    .button__icon {
        fill: map-get($color-palette, 'text');
    }

    &:hover,
    &:focus {
        background-color: transparent;
    }
}

.no-content-message {
    margin: 0;
}
